.button {
 display: inline-block;
 background-image:linear-gradient(
    180deg, #cdcdcd 0%, rgb(206, 206, 206, 0) 100%);
 line-height: 30px;
 font-size: 20px;
 transition: transform 200ms linear;
 color: #fff;
 text-shadow:2px 2px 0 #042189,4px 4px 4px #042189;
 padding: 18px 20px ;
 text-decoration: none;
 font-family: "Fira Code", sans-serif;
}

.button:hover {
 transform:scale(1.05);
}